html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

#app {
    min-height: 100vh;
}

.app-loader {
    height: 100vh;
    background-color: #222;
    color: #fff;

    h1 {
        font-size: 13vw;
    }

    div {
        font-size: 3.5vw;
        color: #bd9de1;
    }

    @media (min-width: 600px) {
        h1 {
            font-size: 11vw;
        }

        div {
            font-size: 2.5vw;
        }
    }

    @media (min-width: 1024px) {
        h1 {
            font-size: 7vw;
        }

        div {
            font-size: 1.5vw;
        }
    }

    svg {
        fill: currentColor;
        height: 1em;
        width: 1em;
        vertical-align: -.125em;

        .flame {
            animation-name: flaming;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes flaming {
    0% {
        fill: #bd9de1;
    }

    50% {
        fill: #5c2d91;
    }

    100% {
        fill: #bd9de1;
    }
}

a {
    color: #bd9de1;
    text-decoration: none;

    &:hover {
        color: #9c6cd2;
        text-decoration: underline;
    }
}

main {
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 6.3em);

    @media (min-width: 768px) {
        height: calc(100vh - 3.3em);
    }
}

    .tagline {
        vertical-align: .1em;
        color: #bbb !important;
    }

    .navbar {
        line-height: 1;

        ul {
            height: 100%;
            font-size: 150%;

            li {

                .nav-link {
                    padding-top: 0;
                    padding-bottom: 0;
                    height: 100%;

                    svg {
                        height: 100%;
                    }
                }
            }
        }
    }

    .navbar-brand {
        font-size: 225%;
    }

    h1:focus {
        outline: none;
    }

    :root {
        --bs-primary-rgb: 92,45,145;
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    .blazor-error-boundary {
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
        padding: 1rem 1rem 1rem 3.7rem;
        color: white;
    }

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

    .icons-area {
        .icon-tile {
            font-size: 12px;
            overflow: hidden;
            background-color: transparent;
            border-style: solid;
            border-width: 2px;
            border-color: transparent;
            border-radius: 0.375rem;

            .icon-name {
                color: var(--bs-gray-500);
            }


            &:hover,
            &[aria-selected]
            {
                border-color: #5c2d91;
                background-color: #bd9de1;
                color: #000 !important;

                svg {
                    fill: #000;
                }

                .icon-name {
                    color: #333;
                }
            }
        }
    }

    .font-library-selection {
        label {
            cursor: pointer;
        }

        &.filter-selected,
        &[aria-selected],
        &:hover {
            border-color: #5c2d91 !important;
            background-color: #bd9de1 !important;
            color: #000 !important;
        }
    }