
<input type="radio" name="font-library"  class="btn-check" id="@Id" autocomplete="off" checked="@IsSelected" @onchange="HandleChange"/>
<label class="btn btn-outline-light btn-sm text-start border-secondary font-library-selection" for="@Id">
    @ChildContent
</label>