<div class="text-light mb-1 border-top border-secondary pt-2">
    <div class="text-center d-flex d-md-block justify-content-between flex-row-reverse">
        <div style="font-size: 150%;" class="px-2">
            <a href="https://twitter.com/kyleherzog" target="_blank" title="Twitter"><Blazicon Svg="MdiIcon.Twitter"></Blazicon></a>
            <a href="https://github.com/kyleherzog" target="_blank" title="GitHub"><Blazicon Svg="MdiIcon.Github"></Blazicon></a>
        </div>
        <div class="d-flex flex-column justify-content-center px-2">
            <small class="text-muted">
                A Kyle Herzog Project
            </small>
        </div>

    </div>
</div>